<div id="loading">
    <img style="margin-left: 46%; margin-top: 15%;" height="100px" width="100px" src='/img/ajax-loader.gif' alt='Loading...' />
</div>
<div class="form-group">
    <div class="form-group row">
        <div class="form-group row">
            <div ng-include="'logo.html'"></div>
        </div>
    </div>
    <div ng-show='databaseError' style="text-align: left;">
        <span class="help-inline" style="color: #ff0000 !important;">
            Please enter valid information!<br />
            <!--small>{{proxyErrorElement}}</small-->
            <ul>
                <li ng-repeat="error in responseData.filedlist"><small>{{error}}</small></li>
            </ul>
        </span>
    </div>
</div>
<div class="form-group">
    <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3" style="font-weight:bold;">
		Please enter database details.
		</div>
	</div>
</div>
<div class="form-group">
    <label for="dbHost">Host:</label>
    <input type="text" class="form-control input-border" ng-init="formData.dbHost='localhost'" name="dbHost" ng-model="formData.dbHost" id="dbHost" />
</div>
<div class="form-group">
    <label for="dbPort">Port:</label>
    <input type="text" class="form-control input-border" ng-init="formData.dbPort='3306'" name="dbPort" ng-model="formData.dbPort" id="dbPort" />
</div>

<div class="form-group">
    <label for="dbName">Database Name:</label>
    <input type="text" class="form-control input-border" name="dbName" ng-model="formData.dbName" id="dbName" />
</div>

<div class="form-group">
    <label for="dbUserName">User Name:</label>
    <input type="text" class="form-control input-border" ng-init="formData.dbUserName='root'" name="dbUserName" ng-model="formData.dbUserName" ng-change="keydown('username')" id="dbUserName" />
    <div style="color:red;font-size:12px;" ng-show="errorUserName">
        User Name should contain at least 6 characters.
    </div>
</div>

<div class="form-group">
    <label for="dbPassword">Password</label>
    <input type="{{inputType}}" class="form-control input-border" name="dbPassword" ng-model="formData.dbPassword" ng-change="keydown('password')" id="dbPassword" />
    <div style="color:red;font-size: 12px;" ng-show="errorPassword">
        Password should contain atleast 6 characters.
    </div>
    <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
    <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
    <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
</div>

<div class="form-group row">
	<div class="col-xs-6 col-xs-offset-3">
	    <a ng-click="goToNextSection(false)" class="btn btn-block btn-info btn-padding-css">
	    Next&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
	    </a>
        <span ng-show="dbProcessing" class="col-xs-6 col-xs-offset-3"><br/><br/>Loading...</span>
	</div>
</div>