<div id="loading">
    <img style="margin-left: 46%; margin-top: 15%;" height="100px" width="100px" src='/img/ajax-loader.gif' alt='Loading...' />
</div>
<div class="form-group">
    <div class="form-group row">
        <div ng-include="'logo.html'"></div>
    </div>

    <div ng-show='adminError' style="text-align: center;">
        <span class="help-inline" style="color: #ff0000 !important;">Please enter valid information!</span>
    </div>
</div>
<div class="form-group">
    <label for="domainApiKey">Reverse Proxy Address:</label>
    <div for="domainApiKey">{{formData.domainAddress}}</div>
</div>
<div class="form-group">
    <label for="domainApiKey">Api Key:</label>
    <input type="text" class="form-control input-border" name="domainApiKey" ng-model="formData.domainApiKey" ng-change="keydown('domainapikey')" id="domainApiKey" />
    <div style="color:red;font-size: 12px;" ng-show="errorDomainApiKey">
        School Domain Api key should contain at least 8 characters.
    </div>
</div>
<div class="form-group row">
	<div class="col-xs-6 col-xs-offset-3">
	    <a ng-click="goToNextSection(false)" class="btn btn-block btn-info btn-padding-css">
	    Next&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
	    </a>
	</div>
</div>