<div id="loading">
    <img style="margin-left: 46%; margin-top: 15%;" height="100px" width="100px" src='/img/ajax-loader.gif' alt='Loading...' />
</div>
<div class="form-group">
    <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
            <img src="/img/full-logo.png" style="height:100px; width:200px; margin-bottom:5px;margin-left: 8%;" alt="Logo">
        </div>
    </div>
    <div ng-show='installError' style="text-align: center;">
        <span class="help-inline" style="color: #ff0000 !important;">Please enter valid information!</span>
    </div>
</div>
<div class="form-group">
    <div style="width:80% !important;display: inline-block;">
         <label for="name">Please enter the upload path for the CSV files</label>
        <input type="text" class="form-control input-border" name="folderPath" ng-change="keydown('csvpath')" ng-model="formData.folderPath">
    </div>
    <div style="color:red;font-size: 12px;" ng-show="errorCSVpath">
        Please enter CSV files upload path.
    </div>
    <!--<div  style="width:18% !important;display: inline-block;">
        <a class="btn btn-warning btn-padding-css" ng-disabled=true>Browse Folder</a>
    </div>-->
</div>

<!--<button type="submit" class="btn btn-danger">Install</button>-->
<div class="form-group row">
    <div class="col-xs-4 col-xs-offset-4">
        <a ng-click="goToNextSection()" class="btn btn-block btn-info btn-padding-css">
            INSTALL&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
