<div class="form-group">
    <div class="form-group row">
        <div ng-include="'logo.html'"></div>
    </div>
    <div ng-show='smptError' style="text-align: center;">
        <span class="help-inline" style="color: red !important;">Please enter valid information!</span>
    </div>
</div>
<div class="form-group">
    <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3" style="font-weight:bold;">
		Please enter smtp details.
		</div>
	</div>
</div>
<div class="form-group">
    <label for="name">SMTP Host:</label>
    <input type="text" class="form-control input-border" name="smptServer" ng-init="formData.smptServer='localhost'" ng-model="formData.smptServer">
</div>

<div class="form-group">
    <label for="name">SMTP Port:</label>
    <input type="text" class="form-control input-border" name="smptPort" ng-init="formData.smptPort='25'" ng-model="formData.smptPort">
</div>

<div class="form-group">
    <label for="name">User Name:</label>
    <input type="text" class="form-control input-border" name="smptName" ng-model="formData.smptName" ng-change="keydown('username')">
    <div style="color:red;font-size: 12px;" ng-show="errorUserName">
        User Name should contain at least 6 characters.
    </div>
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <input type="{{inputType}}" class="form-control input-border" name="smptPassword" ng-model="formData.smptPassword" ng-change="keydown('password')">
    <div style="color:red;font-size: 12px;" ng-show="errorPassword">
        Password should contain at least 6 characters.
    </div>
    <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
    <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
    <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
</div>

<div class="form-group">
    <label for="name">From Name:</label>
    <input type="text" class="form-control input-border" name="smptFromName" ng-model="formData.smptFromName" ng-change="keydown('fromname')">
    <div style="color:red;font-size: 12px;" ng-show="errorSmptFromName">
        From name can't left blank.
    </div>
</div>

<div class="form-group">
    <label for="name">From Email:</label>
    <input type="text" class="form-control input-border" name="smptFromEmail" ng-model="formData.smptFromEmail" ng-change="keydown('fromemail')">
    <div style="color:red;font-size: 12px;" ng-show="errorSmptFromEmail">
        Please enter valid email.
    </div>
</div>

<div class="form-group row">
	<div class="col-xs-5" style="margin-left: 5%;">
	    <a ng-click="goToNextSection(false)" class="btn btn-block btn-info btn-padding-css">
	    Next&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
	    </a>
	</div>
        <div class="col-xs-5" style="margin-left: 5%;">
	    <a ng-click="goToNextSection(true)" class="btn btn-block btn-info btn-padding-css">
	    Skip&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
	    </a>
	</div>
</div>