<div class="form-group">
    <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
            <img src="/img/full-logo.png" style="height:100px; width:200px; margin-bottom:5px;margin-left: 8%;" alt="Logo">
        </div>
    </div>

    <div ng-show='adminError' style="text-align: center;">
        <span class="help-inline" style="color: #ff0000 !important;">Please enter valid information!</span>
    </div>
</div>
<div class="form-group">
    <label for="name">Admin Name:</label>
    <input type="text" class="form-control input-border" name="adminName" ng-model="formData.adminName" ng-change="keydown('username')">
    <div style="color:red;font-size: 12px;" ng-show="errorUserName">
        Admin Name should contain at least 6 characters.
    </div>
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <input type="{{inputType}}" class="form-control input-border" name="adminPassword" ng-model="formData.adminPassword" ng-change="keydown('password')">
    <div style="color:red;font-size: 12px;" ng-show="errorPassword">
        Password should contain at least 6 characters.
    </div>
    <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
    <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
    <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
</div>

<div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control input-border" name="adminEmail" ng-model="formData.adminEmail" ng-change="keydown('email')">
    <div style="color:red;font-size: 12px;" ng-show="errorEmail">
        Please enter valid email.
    </div>
</div>

<div class="form-group row">
	<div class="col-xs-6 col-xs-offset-3">
	    <a ng-click="goToNextSection()" class="btn btn-block btn-info btn-padding-css">
	    Next&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
	    </a>
	</div>
</div>